@charset "utf-8";

body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(85, 76, 144);
    color: rgb(233, 233, 17);
}

#cor{
    background-image: linear-gradient(to bottom, green, blue);
    font-weight: bolder;
    font-size: 2.8em;
}

iframe{
    border: 2px dashed black;
}